@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-size: cover;
  background: linear-gradient(135deg, #8a2be2, #ff69b4) no-repeat;
  margin: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
  height: auto;
  color: white;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

span {
  font-size: 20px;
}

.dataContainer {
  padding-left: 30px;
}

.dataCell {
  box-sizing: border-box;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(12px);
}

.dataCell:before {
  background: linear-gradient(90deg, transparent, rgba(147, 51, 234, 0.5), transparent);
  opacity: 0;
}

.activityBtn {
  height: 50px;
  padding: 0 10px;
}

.activityBtn > p {
  margin: 0;
}

.note {
  font-style: italic;
}